{% extends 'base_products.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

{% load i18n %}

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="{% trans 'Перевести' %}">
</form>

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					{% for c in categories %}

					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<h3>{{ c.name }}<br>{% trans 'Коллекция' %}</h3>
								<a href="{{ c.get_absolute_url }}" class="list-group-item">
									{{ c.name }}


									<i class="fa fa-arrow-circle-right">
									</i>
								</a>
								<img src="{{ product.image.url }}">
							</div>
							<div class="shop-body">
								<h3>{{ c.name }}<br>{% trans 'Коллекция' %}</h3>
								<a href="{{ c.get_absolute_url }}" class="list-group-item">
									{{ c.name }}

									<i class="fa fa-arrow-circle-right">
									</i>
								</a>

							</div>
						</div>
					</div>

            		{% endfor %}
					<!-- /shop -->


				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">{% trans 'Товары' %}</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									{% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            		{% endfor %}
								</ul>
							</div>
						</div>
					</div>
<!-- 56 --><!-- /section title -->

<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										{% for product in products %}
										<div class="product">
											<div class="product-img">
												<img src="{% if product.image %} {{ product.image.url }}
												{% else %} {% static 'img/default_shop.jpg' %} {% endif %}" alt="">
												<div class="product-label">
													<span class="sale"></span>
													<span class="new">{% trans 'НОВЫЙ' %}</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">{{ product.category }}</p>
												<h3 class="product-name"><a href="{{ product.get_absolute_url }}">{{ product.name|safe|truncatewords:30 }}</a></h3>
												<h4 class="product-price">{{ product.price }} руб</h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<a href="{{ product.get_absolute_url }}">
													<i class="fa fa-eye"></i><span class="tooltipp">{% trans 'Просмотр товара' %}</span>
													</a>
												</div>
											</div>
											<div class="add-to-cart">
												<a href="{{ product.get_absolute_url }}">
													<input type="submit" class="add-to-cart-btn" value="{% trans 'Перейти' %}">
														<i class="fa fa-shopping-cart"></i>

												</a>
											</div>
										</div>
										{% endfor %}
										<!-- /product -->

									</div>

								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->





					
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		<!-- HOT DEAL SECTION -->
		<div id="hot-deal" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<ul class="hot-deal-countdown">
								<li>
									<div>
										<h3>02</h3>
										<span>{% trans 'Дней' %}</span>
									</div>
								</li>
								<li>
									<div>
										<h3>10</h3>
										<span>{% trans 'Часы' %}</span>
									</div>
								</li>
								<li>
									<div>
										<h3>34</h3>
										<span>{% trans 'Минуты' %}}</span>
									</div>
								</li>
								<li>
									<div>
										<h3>60</h3>
										<span>Secs</span>
									</div>
								</li>
							</ul>
							<h2 class="text-uppercase">{% trans 'Товары на любой вкус' %}</h2>
							<p>{% trans 'Качественные товары' %}</p>
							<a class="primary-btn cta-btn" href="{% url 'products:product_list' %}">{% trans 'Посмотреть товары' %}</a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /HOT DEAL SECTION -->

		<!-- /SECTION -->
<!-- 442 -->
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
			<!-- /SECTION -->
<!-- 442 -->
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">{% trans 'Выгодное предложение' %}</h4>
							<div class="section-nav">
								<div id="slick-nav-3" class="products-slick-nav"></div>
							</div>
						</div>
						<div class="products-widget-slick" data-nav="#slick-nav-3">
							<div>
								<!-- product widget -->
								{% for product in products %}
								{% if product.category.id == 4 %}
								<div class="product-widget">
									<div class="product-img">
										<img src="{% if product.image %}
										{{ product.image.url }}
										{% else %} {% static 'img/default_shop.jpg' %} {% endif %} "
											 alt="">
									</div>
									<div class="product-body">
										<p class="product-category">{{ product.category }}</p>
										<h3 class="product-name">{{ product.name|safe|truncatewords:30 }}</h3>
										<h4 class="product-price">{{ product.price }} руб</h4>
									</div>
								</div>

								<div class="add-to-cart">
												<a href="{{ product.get_absolute_url }}">
													<input type="submit" class="add-to-cart-btn" value="{% trans 'Перейти к Товару для Покупки' %}">
														<i class="fa fa-shopping-cart"></i>

												</a>
											</div>
								{% endif %}
								{% endfor %}
								<!-- /product widget -->
							</div>

						</div>
					</div>

					<div class="clearfix visible-sm visible-xs"></div>




				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION --><!-- 755 -->

{% endblock %}