{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load i18n %}





<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="{% trans 'Перевод' %}">
</form>

        <div>
            {% if products %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.previous_page_number }}" tabindex="-1" aria-disabled="true">Предыдущая</a>
                    </li>
                    {% endif %}
                    {% if products.has_other_pages %}
                    {% for page in products.paginator.page_range %}
                    <li class="page-item
                    {% if page == products.number %} active {% endif %}">
                        <a class="page-link" href="?page={{ page }}">
                            {{ page }}
                        </a>
                    </li>
                    {% endfor %}
                    {% endif %}
                    {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.next_page_number }}">{% trans 'Следующая' %}</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>


<!-- /.container -->



{% endblock %}